:root {
  --primary-color: rgb(255, 161, 98);
  --secondary-color: rgba(255, 203, 166, 0.24);
  --highlight-color:rgb(255, 102, 0);
  --primary-font: 'Barlow Semi Condensed', sans-serif;
  --h1-headings: 'Roboto', sans-serif;
  --font-headings: 'Questrial', sans-serif;
}

header{
  margin-top: 120px;
  margin-bottom: 70px;
}

h1 {
  display: block;
  text-align: center;
  margin-top: 50px;
  font-family: var(--h1-headings);
  font-weight: bolder;
  
}

h3 {
  display: block;
  text-align: center;
  font-family: var(--font-headings);
  font-weight: bolder;
  
}

a{
  text-decoration: none;
}

.header-line{
  opacity: 0.75;
}

.active-colour{
  color: var(--highlight-color);
}

.nav-logo{
  max-width: 200px;
  height: auto;
}

.nav-font{
  font-size: 16pt;
  font-weight: bolder;
  font-family: var(--h1-headings);
}

.nav-hover-highlight{
  transition: all 150ms ease-in-out;
}

.nav-hover-highlight:hover{
  font-size: 18pt;

}

.entire-body-container{
  margin-top: 140px;
  margin-bottom: 80px;
}

.standard-button {
display: block;
margin: 0 auto;
padding: 15px 25px;
margin-bottom: 10px;
background-color: var(--primary-color);
color: black;
border: none;
font-family: var(--primary-font);
font-weight: 600;
font-size: 20pt;
transition: all 150ms ease-in-out;
}

.standard-button:hover{
  background-color: var(--highlight-color);
  color: white;
  text-decoration: none;
  font-size: 22pt;
}

.icons {
  display: block;
  text-align: center;
  font-size: 25pt;
  color: var(--primary-color);
}

.icon-button{
  color: var(--primary-color);
  font-size: 25pt;
  transition: all 150ms ease-in-out;
}

.icon-button:hover{
  color: var(--highlight-color);
  font-size: 30pt;
}

.github-icon {
  margin-right: 10px;
}

.linkedin-icon {
  margin-left: 10px;
}

/*SKILLS CSS SECTION */

.skills-container {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 30px;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo-icons {
  margin: 20px;
}

.subheadings {
  max-width: 750px;
  margin-top: 30px;
  margin-bottom: 40px;
  font-family: var(--font-headings);
  font-weight: bolder;
  font-size: 35pt;
  
}

.about-me-container {
  display: block;
  text-align: center;
  padding: 30px;
}


/*ABOUT ME CSS SECTION */

.about-me-photo {
  text-align: center;
}

.profile-pic {
  max-width: 400px;
  border-radius: 10px;
}

.about-me-text {
  margin-top: 60px;
  text-align: center;
  font-family: var(--primary-font);
  font-weight: 500;
  line-height: 1.5;
  font-size: 18pt;
}


/*PROJECTS CSS SECTION */

.projects-container {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 30px;
}

.projects-images {
  text-align: center;
}

.project-title {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: var(--font-headings);
  font-weight: 600;
  font-size: 28pt;
}

.projects-text {
  text-align: center;
  font-family: var(--primary-font);
  font-weight: 500;
  line-height: 1.5;
  font-size: 18pt;
}

.project-pic{
  border-radius: 10px;
}

.single-project-button {
  display: block;
  margin: 0 auto;
  padding: 15px 25px;
  margin-bottom: 10px;
  background-color: var(--primary-color);
  color: black;
  border: none;
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 18pt;
  transition: all 150ms ease-in-out;
  
  }
  
  .single-project-button:hover{
    background-color: var(--highlight-color);
    color: white;
    text-decoration: none;
    font-size: 20pt;
  }

.project-button {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 20px;
  transition: all 150ms ease-in-out;
}

.project-button:hover {
  text-decoration: underline;
  cursor: pointer;
}


/*CONTACT CSS SECTION */

.contact-container {
  display: block;
  text-align: center;
  padding: 30px;
  margin-bottom: 30px;
}

.contact-heading {
  padding: 30px;
  font-family: var(--font-headings);
  font-weight: bolder;
  font-size: 35pt;
}

.contact-text {
  display: block;
  margin: 0 auto;
  max-width: 750px;
  font-family: var(--primary-font);
  font-weight: 500;
  line-height: 1.5;
  font-size: 16pt;
}

.get-in-touch-button {
  text-decoration: none;
  display: block;
  padding: 10px;
  margin-bottom: 50px;
  transition: all 150ms ease-in-out;
}

.get-in-touch-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer-text{
  font-size: 16pt;
  font-weight: 600;
  font-family: var(--primary-font);
  opacity: 0.70;
}

@media (max-width: 567px) {

  h1{
    text-align: center;
  }

  h2{
    text-align: center;
  }

  h3{
    text-align: center;


  }

  img{
    max-width: 50px;
  }

  .profile-pic {
    display: none;
  }

  .project-pic{
    display: none;
  }

  h3 {
    font-size: 13pt;
  }
}

@media (max-width: 768px){


  .profile-pic{
    max-width: 310px;
    margin-top: 80px;
    
  }

  .about-me-text{
    margin-top: 0;
  }

  .project-pic{
    max-width: 310px;

  }
  
  .contact-text{
    max-width: 500px;
  }
}

@media (max-width: 1024px){
  .profile-pic{
    margin-top: 30px;
  }

  .about-me-text{
    margin-top: none  ;
  }

  .project-pic{
    margin-top: 130px;
    max-width: 310px;
  }

}