:root {
  --primary-color: rgb(255, 161, 98);
  --secondary-color: rgba(255, 203, 166, 0.24);
  --tertiary-color: rgba(248, 183, 139, 0.479);
  --highlight-color:rgb(255, 102, 0);
  --primary-font: 'Barlow Semi Condensed', sans-serif;
  --h1-headings: 'Roboto', sans-serif;
  --font-headings: 'Questrial', sans-serif;
}

header{

  background-color: var(--secondary-color);
  padding-top: 90px;
  padding-bottom: 40px;
}

h1 {
  display: block;
  text-align: center;
  margin-top: 90px;
  font-family: var(--font-headings);
  font-size: 40pt;
  font-weight: bolder;
  margin-bottom: 50px;
}

a{
  text-decoration: none;
}

.nav-colour{
  background-color: var(--secondary-color);
}

.nav-padding{
  padding: 0;
}

.nav-logo{
  max-width: 200px;
  height: auto;
}

.nav-font{
  font-size: 15pt;
  font-weight: bolder;
  font-family: var(--h1-headings);
}


.subheadings {
  max-width: 750px;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  font-family: var(--font-headings);
  font-weight: bolder;
  font-size: 35pt;

}


/* HEADER */

.icons {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 25pt;
  color: var(--primary-color);
}

.icon-button{
  color: var(--primary-color);
  font-size: 35pt;
  transition: all 150ms ease-in-out;
}

.icon-button:hover{
  color: var(--highlight-color);
  font-size: 40pt;
}

.github-icon {
  margin-right: 10px;
}

.linkedin-icon {
  margin-left: 10px;
}

/* PROJECT SECTION */

.project-container{
  display: flex;
  justify-content: space-evenly;
  padding: 50px
}

.single-project-button{
  background-color: var(--tertiary-color);
  padding: 30px;
  border-radius: 7px;
}

.single-project-button:hover{
  background-color: var(--secondary-color);
  padding: 20px;
  border: 3px solid rgba(255, 166, 0, 0.349);
  border-radius: 10px;
}

.project-text{
  font-size: 14pt;
  font-weight: 600px;
}

/* WORK INQUIRY SECTION */

.work-inquiry-container{
  background-color: var(--secondary-color);
  padding: 50px;
  padding-bottom: 60px;

}

.work-inquiry-text{
  display: block;
  margin: 0 auto;
  max-width: 750px;
  font-family: var(--primary-font);
  font-weight: 500;
  line-height: 1.5;
  font-size: 18pt;
  text-align: center;
}

.standard-button {
  display: block;
  margin: 0 auto;
  padding: 15px 25px;
  margin-bottom: 10px;
  background-color: var(--primary-color);
  color: black;
  border: none;
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 20pt;
  transition: all 150ms ease-in-out;
  }

  .standard-button:hover{
    background-color: var(--highlight-color);
    color: white;
    text-decoration: none;
    font-size: 22pt;
  }

  .footer-text{
    font-size: 16pt;
    font-weight: 600;
    font-family: var(--primary-font);
    text-align: center;
  }

  @media (max-width: 567px) {

    h1{
      text-align: center;
      font-size: 25pt;
    }
  
    h2{
      text-align: center;
      font-size: 15pt;
    }
  
    h3{
      text-align: center;
      font-size: 17pt;
    }

    .icon-button{
      font-size: 23pt;
    }

    .work-inquiry-text{
      font-size: 13pt;
    }

    .project-container{
      text-align: center;
 
    }
  }

  @media(max-width:768px){
    .single-project-button{
      padding: 10px;

    }

    h2{
      font-size: 18pt;
    }
  }